<template>
    <div v-if="ctaContent" class="ctas__container">
        <a class="cta__link" v-for="(cta, key) in ctaContent" :key="key" :href="cta.url">
            <TextModule :text="cta.text" :type="'cta-text'"></TextModule>
        </a>
    </div>

</template>

<script>
import TextModule from './TextModule.vue';

export default {
  name: 'CtaModule',
  components: {
    TextModule,
  },
  props: {
    ctaContent: Array,
  },
};
</script>

<style lang="scss" scoped>
    .ctas__container{
        display: flex;
        justify-content: center;
        margin-top: .5rem;
        flex-wrap: wrap;

        .cta__link{
            border: solid #000;
            background: #fff;
            padding: .5rem 2rem;
            margin: .5rem;
            text-decoration: none;
            color: #000;
            transition: background .5s, color .5s;
            min-height: 1.25rem;
            white-space: normal;

            &:hover{
                background: #000;
                color: #fff;
            }
            .text{
                font-size: 1rem;
            }
        }
    }

</style>
