<template>
    <div v-if="FaqData" class="faqs" :class="type">
        <div class="c-container">
            <TextModule :text="FaqData.title" type="title"></TextModule>
            <div class="faq-container">
                <div class="faq-item" v-for="(faq, key) in FaqData.items" :key="key">
                    <TextModule v-if="faq.question" :text="faq.question" type="title"></TextModule>
                    <div class="faq-answer">
                        <!-- eslint-disable-next-line -->
                        <TextModule v-if="faq.answer" :text="faq.answer" type="copy-text"></TextModule>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import $ from 'jquery';
import ImgModule from './ImgModule.vue';
import CtaModule from './CtaModule.vue';
import TextModule from './TextModule.vue';

export default {
  name: 'FaQs',
  components: {
    ImgModule,
    CtaModule,
    TextModule,
  },
  props: {
    FaqData: Object,
    type: String,
  },
};

$(document).on('click', '.faq-item', (e) => {
  const $this = $(e.target);
  $('.faq-item').removeClass('is-active');
  $('.faq-item p').removeClass('is-active');
  $('.faq-answer').removeClass('is-active');
  $this.addClass('is-active');
  $($this).parent().find('.faq-answer').addClass('is-active');
  // eslint-disable-next-line
  console.log($this);
});
</script>

<style lang="scss" >
.faqs {
    padding: 2rem 1rem;
    .title {
        text-align: left;
        font-size: 2rem;
    }
    .faq-container {
        .faq-item {
            .title {
                cursor: pointer;
                text-align: left;
                font-size: 1.2rem;
                font-weight: 600;
                letter-spacing: .03rem;
                &.is-active {
                    &::before {
                        display: inline-block;
                        content: "+";
                        transform: rotateZ(45deg);
                        color: #A3B9B7;
                        margin-right: 1rem;
                        transition: all .6s ease;
                    }
                }
                &::before {
                    content: "+";
                    color: #A3B9B7;
                    margin-right: 1rem;
                    transition: all .6s ease;
                }
            }
            .faq-answer {
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.8s linear;
                .copy-text{
                    height: 0;
                    margin: 0;
                }
                &.is-active {
                    visibility: visible;
                    opacity: 1;
                    .copy-text{
                        height: auto;
                        margin: 0rem 2.25rem 3rem;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
</style>
