<template>
<div class="main-banner__container">
   <Carousel :options="options" :slides="mainBannerContent.slides">
        <a class="slide__container" slot-scope="{slide}" :href="slide.url">
            <imgModule :srcs="slide.images"></imgModule>
            <div class="main-cta-container">
                <ctaModule :ctaContent="slide.ctas"></ctaModule>
            </div>
        </a>
   </Carousel>
</div>

</template>

<script>
import Carousel from '../containers/Carousel.vue';
import ImgModule from './ImgModule.vue';
import CtaModule from './CtaModule.vue';

export default {
  name: 'MainBanner',
  components: {
    Carousel,
    ImgModule,
    CtaModule,
  },
  data() {
    return {
      options: {
        slidesPerView: 1,
      },
    };
  },
  props: {
    mainBannerContent: Object,
  },
};
</script>
<style lang="scss" scoped>

    .slide{
        position: relative;
    }

    .main-cta-container {
        max-width: 1200px;
        width: 100%;
        display: table;
        right: 0;
        bottom: 10px;
        position: absolute;
        transform: translateX(-50%);

        .ctas__container{
            justify-content: flex-end;
        }
        @media (max-width: 767px) {
            bottom: 35px;

            .ctas__container{
                justify-content: flex-end;

                .cta__link{
                    width: 100%;
                }
            }
        }

    }
    .c-container{
        max-width: 1200px;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 2rem;

        @media (max-width: 767px) {
            width: 100%;
            display: inline-table;

            .ctas__container{
                width: 100%;
            }
        }

        @media only screen and (min-width: 767px) {
            justify-content: flex-end;
        }
    }

</style>

<style>
    .main-banner__container .ctas__container .cta__link{
        border-color: transparent;
    }
    @media (max-width: 767px) {
        .main-banner__container .ctas__container .cta__link{
            width: 100%;
        }
    }
    .main-banner__container .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        background: transparent;
        border: solid 2px #fff;
        opacity: 1;
    }
    .main-banner__container .swiper-pagination-bullet-active{
        opacity: 1;
        background: #fff;
    }
</style>
