<template>
    <div v-if="splitData" class="split-info" :class="type">
        <div class="c-container">
            <TextModule :text="splitData.title" type="title"></TextModule>
            <div class="split-container">
                <div class="split" v-for="(split, key) in splitData.content" :key="key">
                    <TextModule v-if="split.title" :text="split.title" type="title"></TextModule>
                    <TextModule v-if="split.copy" :text="split.copy" type="copy-text"></TextModule>
                    <ImgModule v-if="split.logo" :srcs="split.logo"></ImgModule>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import ImgModule from './ImgModule.vue';
import CtaModule from './CtaModule.vue';
import TextModule from './TextModule.vue';

export default {
  name: 'Split',
  components: {
    ImgModule,
    CtaModule,
    TextModule,
  },
  props: {
    splitData: Object,
    type: String,
  },
};
</script>
<style lang="scss" >
    .split-info {
        padding-top: 2rem;
        .title {
            font-size: 2rem;
        }
    }
    .split-container {
        display: flex;
        margin: 2rem 0;

        @media (max-width: 767px) {
            flex-direction: column;
        }
        .split {
            .title {
                font-size: 1.4rem;
            }
        }
    }
    .split-info.checklist {
        background: #e8eded;
        margin-top: -2.3rem;
        padding: 2rem 0;
        .split {
            align-items: flex-start;
            .title {
                text-align: left;
                margin: .0rem 0.3rem;
                font-size: 2rem;
            }
            .copy-text {
                text-align: left;
                font-size: 1.2rem;
                &:nth-child(2) {
                    color: #A3B9B7;
                    margin: 0 1rem;
                    font-size: 1.3rem;
                    font-weight: 700;
                }
                ul{
                    padding: 0;
                    li {
                        &::before {
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            margin-right: 1rem;
                            background: #fff;
                            border: solid 1px #000;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }

    }
    .split-info.four {
        background: #e8eded;
        padding: 2rem 0;
        .split {
            .title {
                background: #a3b9b7;
                border-radius: 30px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                color: #fff;
                padding: 1rem;
            }
            .copy-text {
                text-align: center;
                margin: 2rem;
            }
        }
    }
    .split {
        display: flex;
        flex: .5;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        @media (max-width: 767px) {
            margin-top: 2rem;
        }
    }


    .four {
        .split {
            flex: .25;
        }
    }

    .split-container .ctas__container {
        display: flex;
        flex-direction: column;
        width: 65%;
        margin: 0 auto;

        @media (max-width: 1100px) {
            width: 70%;
        }
    }

    .split .img-container {
        picture {
            width: 10%;
        }

        @media (max-width: 767px) {
            picture {
                width: 10%;
            }
        }
    }
</style>
