<template>
    <p v-if="text" class="text" v-html="text" :class="type">{{ text }}</p>
</template>

<script>
export default {
  name: 'TextModule',
  props: {
    text: String,
    type: String,
  },
};
</script>


<style lang="scss">
.text {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
  color: #A3B9B7;
  margin: .5rem auto;
  padding: .5rem;
}

.subtitle {
  font-size: 1.1rem;
  margin: .75rem auto;
}

.copy-text {
  text-align: left;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
  margin: 1rem;
  li {
    list-style: none;
    line-height: 1.8rem;
    font-size: 1.1rem;
    &::before {
      content: "\2014\a0";
    }
  }
}

.usp-text {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin: .5rem;
}

.cta-text {
  font-size: 1.2rem;
  text-decoration: none;
  line-height: normal;
  margin: .001rem;
}
</style>
