<template>
  <div id="app">
    <MainBanner :mainBannerContent="content.main_banner"></MainBanner>
    <Split :splitData="content.split[0]"></Split>
    <Split :splitData="content.split[1]" type="four"></Split>
    <video onclick="this.paused?this.play():this.pause();" autoplay="" loop="">
        <source src="https://i1.adis.ws/v/jpl/JD194_KLARNA_WEB_1160x485/mp4_480p?protocol=https" type="video/mp4">
        <source src="https://i1.adis.ws/v/jpl/JD194_KLARNA_WEB_1160x485/webm_480p?protocol=https" type="video/webm">
    </video>
    <Split :splitData="content.split[2]" type="checklist"></Split>
    <FaQs :FaqData="content.faqs"></FaQs>
  </div>
</template>

<script>
import json from './json/content.json';
import MainBanner from './components/MainBanner.vue';
import Split from './components/Split.vue';
import FaQs from './components/FaQs.vue';

import(/* webpackChunkName: "editor" */ '@steriley/json-editor');

export default {
  name: 'App',
  components: {
    MainBanner,
    Split,
    FaQs,
  },
  data() {
    return {
      jsonData: json,
      uatJSONLink:
        '//jdsports-client-resources.co.uk/jdsports-client-resources/pages/klarna/json/UAT/content.json',
      liveJSONLink:
        '//jdsports-client-resources.co.uk/jdsports-client-resources/pages/klarna/json/LIVE/content.json',
      localURL: 'localhost',
      uatURL: 'uatmesh',
      liveMESHURL: 'livemesh',
      liveURL: 'jdsports.',
      externalJSONData: {
        main_banner: {},
        split: {},
        checklist: {},
        TabbedFilter: {},
        sizeGuide: {},
      },
    };
  },
  computed: {
    content() {
      let contentToUse;

      if (window.location.href.indexOf(this.localURL) > -1) {
        contentToUse = this.jsonData;
      }
      // eslint-disable-next-line
      if (
        window.location.href.indexOf(this.uatURL) > -1 ||
        window.location.href.indexOf(this.liveURL) > -1 ||
        window.location.href.indexOf(this.liveMESHURL) > -1
      ) {
        contentToUse = this.externalJSONData;
      }

      return contentToUse;
    },
    serviceLink() {
      let serviceType;

      if (window.location.href.indexOf('localhost') === -1) {
        if (window.location.href.indexOf(this.uatURL) > -1) {
          serviceType = this.uatJSONLink;
        }
        // eslint-disable-next-line
        if (
          window.location.href.indexOf(this.liveURL) > -1 ||
          window.location.href.indexOf(this.liveMESHURL) > -1
        ) {
          serviceType = this.liveJSONLink;
        }
      }

      return serviceType;
    },
  },
  mounted() {
    if (window.location.href.indexOf('localhost') === -1) {
      fetch(this.serviceLink)
        .then(res => res.json())
        // eslint-disable-next-line
        .then(data => (this.externalJSONData = data))
        // eslint-disable-next-line
        .catch(err =>
          // eslint-disable-next-line
          console.info(
            "API doesn't exist. Please provide the correct API to render the page"));
    }
  },
};
</script>

<style lang="scss">
body{margin: 0;padding: 0;}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  video {
    width: 100%;
  }

  .c-container {
    @media (min-width: 767px){
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
</style>
